/* Глобальные стили */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  color: #000 !important;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-width: 320px;
  overflow-x: hidden;
  @apply font-Centro;
}

html {
  font-size: 16px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class] ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

li {
  list-style: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper {
  padding-bottom: 40px !important;
}

.swiper-pagination-bullet-active {
  background: #0279C1 !important;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.notistack-SnackbarContainer {
  left: 0 !important;
}

.horizontal-slider {
  width: 100%;
  height: 10px;
}

.example-thumb {
  height: 20px;
  width: 20px;
  background-color: #0070f3;
  cursor: grab;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: -7px;
}

.example-track {
  background: #ddd;
  height: 5px;
}

.react-tabs__tab--selected {
  @apply bg-primary transition-all;
}

.react-tabs__tab--selected span {
  @apply text-white transition-all;
}

.next-error-h1 {
  display: none !important;
}

.next-error-h1 + div {
  display: none !important;
}